*{
    font-family: Verdana, Helvetica, sans-serif;
}

body {
    background-color: #dca47c;
}

h1 {
    font-size: 70px;
    background-color: #847469;
    color: white;
    text-align: center;
    padding: 15px;
    border: 5px solid brown;
    margin: 40px 20px 40px 20px;
}

.container {
    background-color: #fcf8f3;
    border: 5px solid brown;
    padding: 10px 0px;
    margin: 40px 20px 40px 20px;
}


